body
{
    background-color: hotpink;
}
h1
{
    font-family: cursive;
    background-color: lightgrey;
    color: purple;
}
#show_sketch
{
    float: right;
}
#score
{
    font-size: 20px;
    font-family: fantasy;
    margin-left: 5px;
}
#timer
{
    float: right;
    font-size: 20px;
    font-family: fantasy;
    margin-right: 5px;
}
p
{
    font-size: 25px;
    font-family:serif;
    color: darkviolet;
}

